{% load static %}
body{
   background: url(/static/img/bodyBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.mainContainer{
  background-color: rgba(0, 0, 0, 0.3);
  /*min-height: 400px;*/
  padding: 20px;
}
.teamContainer, .playerContainer, .matchResult{
  color: #fff;
  background-color:rgba(0, 0, 0, 0.8);
  margin:5px;
  padding: 5px;
  -webkit-box-shadow: 0px 6px 12px 0px rgba(58,61,84,1);
-moz-box-shadow: 0px 6px 12px 0px rgba(58,61,84,1);
box-shadow: 0px 6px 12px 0px rgba(58,61,84,1);

}
.matchResult{
  font-size: 30px;
}
.fa-frown-o, .fa-trophy{
  color:  rgb(255,215,0);
  font-size: 70px;
}
.playerContainer img{
  width: 50px !important;
  
}

.teamContainer img{
  width: 150px !important;
  height: 120px !important;
}
.teamName{
      font-size: 20px;
    font-weight: bold;
    padding: 25px 0;
}

.details {
    font-size: 15px;
    padding: 7px 0;
}
.navbar-inverse {
    background-color: rgba(34, 34, 34, 0.9);
    border-color: #080808;


    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
